[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gym = "*"
stable-baselines3 = "*"
scipy = "*"
sb3-contrib = "*"
tensorboard-pytorch = "*"
update = "*"
logging = "*"
numpy = "*"
math = "*"
cmath = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.10"
